#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 15rem;
  text-align: center;
}


.header_temp {
  font-size: 3rem;
  margin: 1rem 0;
}

.header_icon {
  font-size: 5rem;
  margin-right: 1rem;
}
.header_text {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}